<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>This is something</name>

<description>
Discover Boulder and the Melody Heights Neighborhood
</description>

<author href="http://www.readmobile.org" email="jen@readmobile.org">
Jen Braun
</author>


</widget>
